* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CCC;
    text-align: center;
}

div {
    margin: 30px;
    font-size: 15px;
}

.imgBox {
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

h1 {
    color: blue;
    border: 1px solid red;
}

h2 {
    color: red;
    border: 1px solid blue;
}
    padding: 20px;
}
p{
	font-weight: italic;
}