* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CCC;
    text-align: center;
}

h3.green {
    background-color: green;
}

div {
    margin: 30px;
    font-size: 15px;
}

.imgBox {
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

h1 {
    color: #3BA031;
    border: 1px solid red;
}

h2 {
    color: red;
    border: 1px solid #3BA031;
}

hr {
    padding: 20px;
}