* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CCC;
    text-align: center;
}

div {
    margin: 30px;
    font-size: 15px;
}

h2 {
    color: red;
}

img {
    width: 100px;
    height: 100px;
}