* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CCC;
    text-align: center;
}

div {
    margin: 30px;
    font-size: 15px;
}
<<<<<<< HEAD
img{
    width: 150px;
    height: 150px;
}
=======

h2 {
    color: red;
}

img {
    width: 100px;
    height: 100px;
}
>>>>>>> 61274439c11173dee8c25fdb04b84045227150e7
