* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CCC;
    text-align: center;
}

div {
    margin: 30px;
    font-size: 15px;
}

img{
    width: 150px;
    height: 150px;
}
h1{
	color:blue;
	border: 1px solid red;
}
h2 {
    color: red;
	border: 1px solid blue;
}

