* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CCC;
    text-align: center;
}

.lightcoral {
    background-color: lightcoral;
}

div {
    margin: 30px;
    font-size: 15px;
}

.imgBox {
    width: 350px;
    height: 350px;
    margin: 20px auto;
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

h1 {
    color: #3BA031;
    border: 1px solid #FD344B;
}

h2 {
    color: #FD344B;
    border: 1px solid #3BA031;
}

hr {
    padding: 20px;
    background-color: #1C41B6;
}

p {
    font-weight: italic;
}